[[source]]

url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-whooshee = "*"
python-dotenv = "*"


[dev-packages]



[requires]

python_version = "3.7"
