[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-whooshee = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-moment = "*"
flask-migrate = "*"
pillow = "*"
gitpython = "*"

[dev-packages]

[requires]
python_version = "3.7"
