{% extends "/base.html" %}
{% from 'macros.html' import message_part, pagination_widget with context %}

{% block title %}部门列表{% endblock %}

{% block nav %}
    <a class="active item"><i class="building icon"></i>部门列表</a>
    <a class="item" href="{{ url_for('main.index') }}"><i class="arrow left icon"></i>返回首页</a>
{% endblock %}

{% block content %}
    {% block wide %}
        <div class="sixteen wide column">
    {% endblock %}
    <div class="ui dividing violet header">
        <div class="content">
            <h2>
                部门列表【{{ departs_list | length }}】
            </h2>
        </div>
    </div>
    <form class="ui large form" action="{{ url_for('admin.add_depart') }}" method="POST">
        <div class="ui stacked segment">
            <div class="field">
                <label>部门</label>
                <div class="ui left icon input">
                    <input class="ui input" type="text" id="add_depart_name" name="depart_name" placeholder="请输入部门名称">
                    <i class="address card icon"></i>
                </div>
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="ui error message"></div>
            <input class="ui mini green submit button" onclick="return pre_add_depart()" type="submit" value="增加">
        </div>
    </form>
    <div class="ui divider"></div>
    {{ message_part() }}
    <table id="departs_list_table" class="tablesorter ui sortable unstackable celled striped violet compact table">
        <thead>
        <tr class="positive">
            <th>ID</th>
            <th>部门名</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for depart in departs_list %}
            <tr>
                <td>
                    {{ depart.id }}
                </td>
                <td>

                    <form style="text-align: center;" class="ui inline" method="post"
                          action="{{ url_for('admin.edit_depart', depart_id=depart.id) }}">
                        <input style="width:250px;" id="edit_depart_name" name="depart_name" value="{{ depart.name }}">
                        <input type="hidden" name="depart_id" value="{{ depart.id }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button onclick="return pre_edit_depart()"
                                class="ui positive mini button">
                            修改
                        </button>
                    </form>
                </td>
                <td>
                    <form style="text-align: center;" class="ui inline" method="post"
                          action="{{ url_for('admin.delete_depart', depart_id=depart.id) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button onclick="return verify({{ depart.id }})"
                                class="ui negative mini button">
                            删除
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if departs_list %}
        {{ pagination_widget(pagination, 'admin.departs_list', page=page) }}
    {% endif %}
{% endblock %}

{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='static/js/jquery.tablesorter.combined.min.js') }}"></script>
    <script>
        $(document).ready(function () {
                $("#departs_list_table").tablesorter({sortList: [[0, 0]]});
            }
        );

        function verify(id) {
            if (!confirm(_t("确认删除 ID 为 " + id + " 的部门吗？")))
                return false;
            createUpdateNotice(_t("正在删除"), "00F")
        }

        function pre_add_depart() {
            add_depart_name = $("#add_depart_name").val();
            if (!confirm(_t("确认增加名称为 " + add_depart_name + " 的部门吗？")))
                return false;
            createUpdateNotice(_t("正在增加"), "00F")
        }

        function pre_edit_depart() {
            // var new_depart_name = prompt("请输入新部门名称", "");
            edit_depart_name = $("#edit_depart_name").val();
            if (!confirm(_t("确认新部门名称修改为 " + edit_depart_name + " 吗？")))
                return false;
            createUpdateNotice(_t("正在修改"), "00F")
        }
    </script>
{% endblock %}
