{% extends 'base.html' %}
{% from 'macros.html' import message_part with context %}

{% block title %}注册{% endblock %}

{% block nav %}
    <a class="active item"><i class="sign in icon"></i>注册</a>
    <a class="item" href="{{ url_for('main.index') }}"><i class="arrow left icon"></i>返回首页</a>
{% endblock %}

{% block content %}
    <div>
        <h2 class="ui green image header">
            <div class="content">
                注册
            </div>
        </h2>
        {{ message_part() }}
        <form class="ui large form" action="" method="POST">
            <div class="ui stacked segment">
                <div class="two fields">
                    <div class="field">
                        <label>部门</label>
                        <div class="ui selection dropdown">
                            <input name="depart_name" type="hidden">
                            <div class="default text">部门</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {% if current_user.can('ADMINISTER') %}
                                    {% for depart in departs_list %}
                                        <div class="item" data-value="{{ depart.name }}">{{ depart.name }}</div>
                                    {% endfor %}
                                {% else %}
                                    <div class="item"
                                         data-value="{{ current_user.depart.name }}">{{ current_user.depart.name }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- 八个部门列表硬编码于此处 -->
                    <div class="field">
                        <label>角色</label>
                        <div class="ui selection dropdown">
                            <input name="role_name" type="hidden">
                            <div class="default text">角色</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" data-value="User">普通用户</div>
                                <div class="item" data-value="Inspector">设置公开审核者</div>
                                {% if current_user.can('ADMINISTER') %}
                                    <div class="item" data-value="Moderator">全局评论审核者</div>
                                    <div class="item" data-value="Administrator">超级管理员</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- 四个角色列表硬编码于此处 -->
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>邮箱</label>
                        <div class="ui left icon input">
                            <input class="ui input" type="text" name="email" placeholder="请输入邮箱"
                                   autofocus>
                            <i class="mail icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>备注</label>
                        <div class="ui left icon input">
                            <input class="ui input" type="text" name="about_me" placeholder="请输入备注"
                            >
                            <i class="edit icon"></i>
                        </div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>用户名</label>
                        <div class="ui left icon input">
                            <input class="ui input" type="text" name="username" placeholder="请输入用户名，建议使用姓名拼音"
                            >
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>昵称</label>
                        <div class="ui left icon input">
                            <input class="ui input" type="text" name="name" placeholder="请输入昵称，建议使用中文姓名"
                            >
                            <i class="address card icon"></i>
                        </div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>密码</label>
                        <div class="ui left icon input">
                            <input class="ui input" type="password" name="password" placeholder="请输入密码，至少 6 个字符">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>确认密码</label>
                        <div class="ui left icon input">
                            <input class="ui input" type="password" name="password_confirm" placeholder="请再次输入密码">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="ui error message"></div>
                <input class="ui large red submit button" type="reset" name="reset" value="清空">
                <input class="ui large green submit button" type="submit" name="submit" value="注册">
            </div>
        </form>
        <div class="ui warning message" style="text-align: center;">
            已完成注册？<a href="{{ url_for('auth.login') }}">登录</a>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script>
        $('.message .close').on('click', function () {
            $(this).closest('.message').transition('fade');
        });
        $('.ui.dropdown').dropdown();
        $(document).ready(function () {
            $('.ui.form').form({
                fields: {
                    email: {
                        identifier: 'email',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '未填写邮箱'
                            },
                            {
                                type: 'email',
                                prompt: '邮箱格式错误'
                            }
                        ]
                    },
                    depart_id: {
                        identifier: '部门',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '未选择部门'
                            }
                        ]
                    },
                    role_id: {
                        identifier: 'username',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '未选择角色'
                            }
                        ]
                    },
                    username: {
                        identifier: 'username',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '未填写用户名'
                            }
                        ]
                    },
                    name: {
                        identifier: 'name',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '未填写昵称'
                            }
                        ]
                    },
                    password: {
                        identifier: 'password',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '未填写密码'
                            },
                            {
                                type: 'length[6]',
                                prompt: '密码长度小于 {ruleValue} 个字符'
                            }
                        ]
                    },
                    password_confirm: {
                        identifier: 'password_confirm',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '未填写确认密码'
                            },
                            {
                                type: 'match[password]',
                                prompt: '与密码不一致'
                            }
                        ]
                    }
                },
                inline: true,
                // on: 'blur',
                // debug: true,
                // performance: true,
                // verbose: true,
                onSuccess: function () {
                    createUpdateNotice(_t("前端校验通过！"), "00F");
                }
            })
        });
    </script>
{% endblock %}
