{% extends "/base.html" %}
{% from 'macros.html' import message_part, pagination_widget with context %}

{% block title %}用户列表{% endblock %}

{% block nav %}
    <a class="active item"><i class="comments icon"></i>用户列表</a>
    <a class="item" href="{{ url_for('main.index') }}"><i class="arrow left icon"></i>返回首页</a>
{% endblock %}

{% block content %}
    {% block wide %}
        <div class="sixteen wide column">
    {% endblock %}
    <div class="ui dividing teal header">
        <div class="content">
            <h2>
                {% if not current_user.can('ADMINISTER') %}
                    【{{ current_user.depart.name }}】用户列表【{{ users_list | length }}】
                {% else %}
                    【全部】用户列表【{{ users_list | length }}】
                {% endif %}
            </h2>
        </div>
    </div>
    <div>
        <a href="{{ url_for('admin.register') }}" class="ui green button" target='_blank'>注册新用户</a>
    </div>
    <div class="ui divider"></div>
    {% if current_user.can('ADMINISTER') %}
        <form action="" class="ui form" method="get">
            <div class="one fields">
                <div class="three wide field">
                    <label>部门</label>
                    <select class="ui selection dropdown" id="depart_id" name="depart_id">
                        <option value=0>==请选择==</option>
                        <option value=1>本科生第一支部</option>
                        <option value=2>本科生第二支部</option>
                        <option value=3>研究生第一支部</option>
                        <option value=4>研究生第二支部</option>
                        <option value=5>研究生第三支部</option>
                        <option value=6>教工第一支部</option>
                        <option value=7>教工第二支部</option>
                        <option value=8>计算机系支部</option>
                    </select>
                </div>
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input class="ui positive button" type="submit" value="筛选">
            <input class="ui negative button" type="reset"
                   onclick=window.location.href=("{{ url_for('admin.users_list') }}"); value="清空">
        </form>
    {% endif %}
    {{ message_part() }}
    <table id="users_list_table" class="tablesorter ui sortable unstackable celled striped teal compact table">
        <thead>
        <tr class="positive">
            <th>ID</th>
            <th>用户名</th>
            <th>昵称</th>
            <th>角色</th>
            <th>邮箱</th>
            <th>所在部门</th>
            <th>图片上传个数</th>
            <th>注册时间</th>
            <th>上次活跃</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users_list %}
            <tr>
                <td>
                    <a href="{{ url_for('user.index', user_id=user.id) }}">{{ user.id }}</a>
                </td>
                <td>
                    {{ user.username }}
                </td>
                <td>
                    {{ user.name }}
                </td>
                <td>
                    {{ user.role.name }}
                </td>
                <td>
                    <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                </td>
                <td>
                    {{ user.depart.name }}
                </td>
                <td>
                    {{ user.photos|length }}
                </td>
                <td>
                    {{ moment(user.member_since).format('YYYY MMMM Do ，h:mm:ss a') }}
                </td>
                <td>
                    {{ moment(user.last_seen).format('YYYY MMMM Do ，h:mm:ss a') }}
                </td>
                <td>
                    <form style="text-align: center;" class="ui inline" method="post"
                          action="{{ url_for('admin.delete_user', user_id=user.id) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button onclick="return verify({{ user.id }})"
                                class="ui negative mini {% if (current_user == user) or user.can('ADMINISTER') or user.can('ADVICE') %}disabled{% endif %} button">
                            删除
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if users_list %}
        {{ pagination_widget(pagination, 'admin.users_list', page=page) }}
    {% endif %}
{% endblock %}

{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='static/js/jquery.tablesorter.combined.min.js') }}"></script>
    <script>
        $(document).ready(function () {
                $("#users_list_table").tablesorter({sortList: [[0, 1]]});
            }
        );

        function verify(id) {
            if (!confirm(_t("确认删除 ID 为 " + id + " 的用户吗？")))
                return false;
            createUpdateNotice(_t("正在删除"), "00F")
        }
    </script>
{% endblock %}
