{% extends "/base.html" %}
{% from 'macros.html' import message_part with context %}

{% block title %}评论详情{% endblock %}

{% block nav %}
    <a class="active item"><i class="comments icon"></i>评论详情</a>
    <a class="item" href="{{ request.referrer }}"><i class="arrow left icon"></i>返回前页</a>
    <a class="item" href="{{ url_for('main.index') }}"><i class="arrow left icon"></i>返回首页</a>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="content">
            <table class="ui unstackable celled striped blue compact table">
                <thead>
                <tr>
                    <th colspan="2">评论 id：{{ advice.id }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>筛选条件</td>
                    <td>{{ advice.filter }}</td>
                </tr>
                <tr>
                    <td>筛选地址</td>
                    <td><a href="{{ advice.url }}" target="_blank">点击跳转</a></td>
                </tr>
                <tr>
                    <td>记录数</td>
                    <td>{{ advice.passed_count }}</td>
                </tr>
                <tr>
                    <td>状态</td>
                    <td>
                        {% if current_user.can('ADVICE') %}
                            {% if advice.status == 0 %}
                                未回复
                            {% elif advice.status == 1 %}
                                对方已回复
                            {% elif advice.status == 2 %}
                                自己已回复
                            {% else %}
                                已完成
                            {% endif %}
                        {% else %}
                            {% if advice.status == 0 %}
                                未回复
                            {% elif advice.status == 1 %}
                                自己已回复
                            {% elif advice.status == 2 %}
                                对方已回复
                            {% else %}
                                已完成
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{ message_part() }}
    <div class="ui raised segment">
        <div class="ui comments">
            <h3 class="ui dividing header">评论历史</h3>
            {% for comment in comments %}
                <div class="comment">
                    <a class="avatar">
                        <i class="comment icon"></i>
                    </a>
                    <div class="content">
                        <a class="author">{{ comment.author.name }}</a>
                        <div class="metadata">
                            <span class="date">{{ moment(comment.timestamp).format('YYYY MMMM Do ，h:mm:ss a') }}</span>
                        </div>
                        <div class="text">
                            {{ comment.body }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if not current_user.can('ADVICE') and advice.comments[-1].author == current_user %}
                <div class="ui warning message">您已经回复，请等待新回复</div>
            {% elif advice.status >= 0 %}
                <form action="{{ url_for('ins.comment') }}" method="post" class="ui reply form">
                    <div class="field">
                        <div class="ui input">
                        <textarea class="ui input" style="margin-top: 0px; margin-bottom: 0px; height: 112px;"
                                  type="text" rows="5" name="body" placeholder="请输入评论……" autofocus></textarea>
                        </div>
                    </div>
                    <input type="hidden" name="advice_id" value="{{ advice.id }}"/>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input class="ui positive button" type="submit" value="提交">
                </form>
            {% else %}
                <div class="ui black message">已完成</div>
            {% endif %}
        </div>
    </div>
    {% if current_user.can('ADVICE') %}
        <div class="ui tall stacked segment">
            <h3>操作</h3>
            <form class="ui inline" method="post"
                  action="{{ url_for('ins.set_advice', advice_id=advice.id) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                {% if advice.status >= 0 %}
                    <input type="hidden" name="status" value="{{ 0 - advice.status }}">
                    <button type="submit" class="ui negative button">点击完成并关闭评论</button>
                {% elif advice.status < 0 %}
                    <input type="hidden" name="status" value="{{ 0 - advice.status }}">
                    <button type="submit" class="ui blue button">点击恢复并开启评论</button>
                {% endif %}
            </form>
        </div>
    {% endif %}
{% endblock %}
