{% extends "/base.html" %}
{% from 'macros.html' import photo_card, message_part, pagination_widget with context %}

{% block title %}评论列表{% endblock %}

{% block nav %}
    <a class="active item"><i class="list icon"></i>评论列表</a>
    <a class="item" href="{{ url_for('main.index') }}"><i class="arrow left icon"></i>返回首页</a>
{% endblock %}

{% block content %}
    {% block wide %}
        <div class="sixteen wide column">
    {% endblock %}
    <div class="ui dividing red header">
        <div class="content">
            <h2>评论列表</h2>
        </div>
    </div>
    <table id="photos_list_table" class="tablesorter ui sortable unstackable celled striped red compact table">
        <thead>
        <tr class="positive">
            <th class="sorted ascending">ID</th>
            <th>筛选条件</th>
            <th>记录数</th>
            <th>评论</th>
            <th>部门</th>
            <th>时间戳</th>
            <th>评论者</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>
                    {{ comment.id }}
                </td>
                <td>
                    <a href="{{ comment.url}}">{{ comment.filter }}</a>
                </td>
                <td>
                    {{ comment.passed_count }}
                </td>
                <td>
                    {{ comment.body }}
                </td>
                <td>
                    {{ comment.depart_id }}
                </td>
                <td>
                    {{ moment(comment.timestamp).format('YYYY MMMM Do ，h:mm:ss a') }}
                </td>

                <td>{{ comment.author.name }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='static/js/jquery.tablesorter.combined.min.js') }}"></script>
{% endblock %}
