{% extends "base.html" %}

{% block title %}更新日志{% endblock %}

{% block nav %}
    <a class="active item"><i class="arrow up icon"></i>更新</a>
    <a class="item" href="{{ url_for('main.index') }}"><i class="arrow left icon"></i>返回首页</a>
{% endblock %}

{% block content %}
    <div class="ui dividing header">
        <div class="content">
            <h2>更新日志</h2>
            <div class="sub header">当前 git 版本：{{ version[:7] }}</div>
        </div>
    </div>
    <div>
        {% for commit in commits %}
            {{ commit.committed_datetime.strftime('%Y-%m-%d %H:%M:%S') }}<br>
            <b> {{ (commit|string)[:7] }}</b>： {{ commit.message }}
            <br><br>
        {% endfor %}
    </div>
{% endblock %}
