{% extends "base.html" %}

{% block title %}首页{% endblock %}

{% block content %}
    {% if notice %}
        <div class="ui blue message">
            <i class="close icon"></i>
            <div class="header">
            </div>
            {{ notice }}
        </div>
    {% endif %}
    <div class="ui three doubling cards">
        <div class="black card">
            <div class="content">
                <div class="header">素材上传</div>
                <div class="description">整合纷繁复杂的<b>图片</b></div>
            </div>
            <a href="{{ url_for('user.upload') }}" class="ui attached button"><i class="image icon"></i></a>
        </div>
        <div class="teal card">
            <div class="content">
                <div class="header">管理用户</div>
                <div class="description">查看所有用户</div>
            </div>
            <a href="{{ url_for('admin.users_list') }}" class="ui attached button"><i
                    class="comments icon"></i></a>
        </div>
        <div class="violet card">
            <div class="content">
                <div class="header">管理部门</div>
                <div class="description">查看所有部门</div>
                <div class="ui top right attached pink label">New</div>
            </div>
            <a href="{{ url_for('admin.departs_list') }}" class="ui attached button"><i
                    class="comments icon"></i></a>
        </div>
        <div class="blue card">
            <div class="content">
                <div class="header">设置公开</div>
                <div class="description">审核图片的安全性</div>
            </div>
            <a href="{{ url_for('ins.photos_list_set_public') }}" class="ui attached button"><i
                    class="calendar check icon"></i></a>
        </div>
        <div class="brown card">
            <div class="content">
                <div class="header">发表评论</div>
                <div class="description">发表评论意见</div>
            </div>
            <a href="{{ url_for('ins.photos_list_advice') }}" class="ui attached button"><i
                    class="comments icon"></i></a>
        </div>
        <div class="purple card">
            <div class="content">
                <div class="header">查看评论</div>
                <div class="description">查看评论意见</div>
            </div>
            <a href="{{ url_for('ins.advice_list') }}" class="ui attached button"><i
                    class="comments icon"></i></a>
        </div>
    </div>
{% endblock %}
