{% extends "base.html" %}

{% block title %}首页{% endblock %}

{% block content %}
    <div class="ui three doubling cards">
        <div class="black card">
            <div class="content">
                <div class="header">素材上传</div>
                <div class="description">整合纷繁复杂的<b>图片</b></div>
            </div>
            <a href="{{ url_for('user.upload') }}" class="ui attached button"><i class="image icon"></i></a>
        </div>
        <div class="blue card">
            <div class="content">
                <div class="header">设置公开</div>
                <div class="description">审核图片的安全性</div>
            </div>
            <a href="{{ url_for('ins.photos_list_set_public') }}" class="ui attached button"><i
                    class="calendar check icon"></i></a>
        </div>
        <div class="pink card">
            <div class="content">
                <div class="header">发表评论</div>
                <div class="description">发表评论意见</div>
                <div class="ui top right attached brown label">New</div>
            </div>
            <a href="{{ url_for('ins.photos_list_comment') }}" class="ui attached button"><i
                    class="comments icon"></i></a>
        </div>
    </div>
{% endblock %}
