{% extends "/base.html" %}

{% block title %}首页{% endblock %}

{% block content %}
    <div class="ui three doubling cards">
        <div class="blue card">
            <div class="content">
                <div class="header">素材上传</div>
                <div class="description">整合纷繁复杂的<b>图片</b></div>
                <div class="ui top right attached pink label">New</div>
            </div>
            <a href="{{ url_for('user.upload') }}" class="ui attached button"><i class="image icon"></i></a>
        </div>
    </div>
{% endblock %}
