{% extends "base.html" %}
{% from 'macros.html' import photo_card with context %}

{% block title %}用户{% endblock %}

{% block nav %}
    <a class="active item"><i class="users icon"></i>用户</a>
    <a class="item" href="{{ url_for('main.index') }}"><i class="arrow left icon"></i>返回首页</a>
{% endblock %}

{% block content %}
    <div class="ui tall stacked segment">
        <div class="ui divided items">
            <div class="item">
                <div class="content">
                    <h3>用户信息</h3>
                    <div class="ui divided selection list">
                        <div class="ui attached red segment">
                            <div class="ui red horizontal label">用户名</div>
                            {{ user.name }}
                        </div>
                        <div class="ui attached red segment">
                            <div class="ui blue horizontal label">所在部门</div>
                            {{ user.depart.name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui tall stacked segment">
        <div class="ui divided items">
            <div class="item">
                <div class="content">
                    <h3>图片</h3>
                    {% if photos %}
                        {% for photo in photos %}
                            {{ photo_card(photo) }}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- TODO：无图片 -->
{% endblock %}
