{% extends 'base.html' %}
{% from 'macros.html' import message_part with context %}

{% block title %}图片详情{% endblock %}

{% block nav %}
    <a class="active item"><i class="photo icon"></i>图片详情</a>
    <a class="item" href="{{ url_for('main.index') }}"><i class="arrow left icon"></i>返回首页</a>
{% endblock %}

{% block content %}
    <div class="ui dividing header">
        <div class="content">
            <h2>图片详情</h2>
            <div class="sub header"></div>
        </div>
    </div>
    {{ message_part() }}
    {% if current_user.can('SET_PUBLIC') or photo.public_status > 0 or current_user == photo.author %}
        <div class="ui tall stacked segment">
            <div class="item">
                <div class="content">
                    <h3>图片</h3>
                    <div class="ui fluid image">
                        {% if photo.public_status == 0 %}
                            <a class="ui black right corner label">
                                <i class="lock icon"></i>
                            </a>
                        {% elif photo.public_status > 0 %}
                            <a class="ui blue right corner label">
                                <i class="eye icon"></i>
                            </a>
                        {% elif photo.public_status < 0 %}
                            <a class="ui red right corner label">
                                <i class="ban icon"></i>
                            </a>
                        {% endif %}
                        <a href="{{ url_for('user.get_image', filename=photo.filename) }}" target="_blank">
                            <img src="{{ url_for('user.get_image', filename=photo.filename_m) }}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui tall stacked segment">
            <h3>任务</h3>
            <ul class="ui list">
                <li>{{ photo.task.name_first }}</li>
                <li>{{ photo.task.name_second }}</li>
                <li>{{ photo.task.name_third }}</li>
            </ul>
        </div>
        <div class="ui tall stacked segment">
            <h3>描述</h3>
            <p>{{ photo.description }}</p>
        </div>
        <div class="ui tall stacked segment">
            <h3>上传时间</h3>
            <p>{{ moment(photo.timestamp).format('YYYY MMMM Do ，h:mm:ss a') }}</p>
        </div>
    {% else %}
        <div class="ui negative message">图片尚未公开</div>
    {% endif %}
    {% if current_user == photo.author %}
        {% if photo.public_status == 0 %}
            <div class="ui black message">等待审核</div>
        {% elif photo.public_status > 0 %}
            <div class="ui positive message">审核通过，已公开</div>
        {% elif photo.public_status < 0 %}
            <div class="ui negative message">审核未通过，已驳回</div>
        {% endif %}
    {% endif %}
    {% if current_user.can('SET_PUBLIC') %}
        <div class="ui tall stacked segment">
            <h3>操作</h3>
            <form class="ui inline" method="post" action="{{ url_for('ins.set_public', photo_id=photo.id) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                {% if photo.public_status == 0 %}
                    <div class="ui buttons">
                        <button class="ui positive button" name="status" value="1">通过审核</button>
                        <div class="or"></div>
                        <button class="ui negative button" name="status" value="-1">不予通过</button>
                    </div>
                {% else %}
                    {% if photo.public_status > 0 %}
                        <input type="hidden" name="status" value="-1">
                        <button type="submit" class="ui negative button">点击关闭公开权限</button>
                    {% elif photo.public_status < 0 %}
                        <input type="hidden" name="status" value="1">
                        <button type="submit" class="ui blue button">点击开启公开权限</button>
                    {% endif %}
                {% endif %}
            </form>
        </div>
    {% endif %}
{% endblock %}
