{% extends 'base.html' %}

{% block title %}413 Payload Too Large{% endblock %}

{% block nav %}
    <a class="active item"><i class="times icon"></i>Error</a>
    <a class="item" href="{{ url_for('main.index') }}"><i class="arrow left icon"></i>返回首页</a>
{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h1>413 Payload Too Large</h1>
        <h5>载荷过大</h5>
    </div>
    {% if reason %}
        <div class="ui negative message">
            <div class="header">详细错误信息</div>
            <p>{{ reason }} </p>
        </div>
    {% endif %}
    <div class="ui info message">
        <i class="close icon"></i>
        <div class="header">附加信息</div>
        <ul class="list">
            <li><b>用户 IP：</b>{{ ip }}</li>
            <li><b>请求地址：</b>{{ url }}</li>
            <li><b>时间戳：</b>{{ moment(timestamp).format('YYYY年M月D日 h:mm:ss a') }}</li>
        </ul>
    </div>
    <hr>
    <h5 style="text-align: center;">yuangezhizao©2018 - 2019</h5>
{% endblock %}