<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="author" content="yuangezhizao"/>
        <meta name="Copyright" content="Copyright yuangezhizao All Rights Reserved."/>
        <meta name="format-detection" content="telephone=no"/>
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='static/Semantic-UI-CSS-master/semantic.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='static/css/main.css') }}">
        <link rel="dns-prefetch" href="//lab.yuangezhizao.cn">
        <link rel="dns-prefetch" href="//www.yuangezhizao.cn">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% endblock %}
</head>
<body>
<div class="ui centered grid">
    {% block wide %}
        <div class="sixteen wide mobile ten wide tablet ten wide computer column">
    {% endblock %}
    <div class="ui blue pointing menu">
        {% block nav %}
            <a class="active item"><i class="home icon"></i>首页</a>
            <a class="item" href="{{ url_for('main.commits') }}"><i class="arrow up icon"></i>更新</a>
        {% endblock %}
        {% if current_user.is_authenticated %}
            <div class="ui right dropdown item"><i class="info icon"></i>更多<i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="{{ url_for('user.index', user_id=current_user.id) }}"><i
                            class="settings icon"></i>我的</a>
                    <a class="item" href="{{ url_for('auth.logout') }}" onclick="return auth.logout();"><i
                            class="sign out icon"></i>注销</a>
                </div>
            </div>
        {% else %}
            <div class="right menu">
                <a class="up item" href="{{ url_for('auth.login') }}"><i class="sign in icon"></i>登录</a>
            </div>
        {% endif %}
    </div>
    {% block content %}{% endblock %}<br>
    <footer>
    </footer>
    </div>
</div>
{% block script %}
    <script src="{{ url_for('static', filename='static/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='static/Semantic-UI-CSS-master/semantic.min.js') }}"></script>
    {{ moment.include_moment(local_js=url_for('static', filename='static/js/moment-with-locales.min.js')) }}
    <script src="{{ url_for('static', filename='static/js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='static/js/timeago.js') }}"></script>
    <script src="{{ url_for('static', filename='static/js/bottomscript.js') }}"></script>
{% endblock %}
</body>
</html>