{% macro photo_card(photo) %}
    {% if current_user.can('SET_PUBLIC') or photo.public_status > 0 or current_user == photo.author %}
        <div class="ui card">
            <div class="ui fluid image">
                {% if photo.public_status == 0 %}
                    <a class="ui black right corner label">
                        <i class="lock icon"></i>
                    </a>
                {% elif photo.public_status > 0 %}
                    <a class="ui blue right corner label">
                        <i class="eye icon"></i>
                    </a>
                {% elif photo.public_status < 0 %}
                    <a class="ui red right corner label">
                        <i class="ban icon"></i>
                    </a>
                {% endif %}
                <a class="image" href="{{ url_for('user.show_photo', photo_id=photo.id) }}">
                    <img class="ui small image" src="{{ url_for('user.get_image', filename=photo.filename_s) }}">
                </a>
            </div>
            <div class="content">
                <a class="header" href="{{ url_for('user.index', id=photo.author.id) }}">{{ photo.author.name }}</a>
                <div class="meta">
                    <a>{{ moment(photo.timestamp).format('YYYY MMMM Do ，h:mm:ss a') }}</a>
                </div>
                <ul class="ui list">
                    <li>{{ photo.task.name_first }}</li>
                    <li>{{ photo.task.name_second }}</li>
                    <li>{{ photo.task.name_third }}</li>
                </ul>
                <div class="description">{{ photo.description|wordwrap(20, break_long_words=True) }}</div>
                {# TODO：截断 #}
            </div>
            <div class="extra content" style="text-align: center;">
                {{ photo.author.depart.name }}
            </div>
            {% if ('photos_list' in request.referrer) and current_user.can('SET_PUBLIC') %}
                <form style="text-align: center;" class="ui inline" method="post"
                      action="{{ url_for('ins.set_public', photo_id=photo.id) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% if photo.public_status == 0 %}
                        <div class="ui mini buttons">
                            <button class="ui positive mini button" name="public_status" value="1">通过审核</button>
                            <div class="or"></div>
                            <button class="ui negative mini button" name="public_status" value="-1">不予通过</button>
                        </div>
                    {% else %}
                        {% if photo.public_status > 0 %}
                            <input type="hidden" name="public_status" value="-1">
                            <button type="submit" class="ui negative mini button">点击关闭公开权限</button>
                        {% elif photo.public_status < 0 %}
                            <input type="hidden" name="public_status" value="1">
                            <button type="submit" class="ui blue mini button">点击开启公开权限</button>
                        {% endif %}
                    {% endif %}
                </form>
                {#  target="my_iframe" <iframe hidden name="my_iframe"></iframe> #}
            {% endif %}
            {# TODO：点击 icon 操作 #}
        </div>
    {% else %}
        <div class="ui negative message">图片尚未公开</div>
    {% endif %}
{% endmacro %}

{% macro message_part() %}
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="ui {{ messages[0][0] }} message">
                <i class="close icon"></i>
                <div class="header">
                </div>
                {{ messages[0][1] }}
            </div>
        {% endif %}
    {% endwith %}
{% endmacro %}

{% macro pagination_widget(pagination, endpoint) %}
    <div style="text-align: center;">
        <ul class="ui buttons">
            <a class="ui red icon button" {% if pagination.has_prev %}href="
                {{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}"{% else %}{% endif %}>
                <i class="angle double left icon"></i>上一页
            </a>
            {% for p in pagination.iter_pages() %}
                {% if p %}
                    {% if p == pagination.page %}
                        <li class="ui blue disabled button">
                            <span>{{ p }}</span>
                        </li>
                    {% else %}
                        <a class="ui blue button"
                           href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
                    {% endif %}
                {% else %}
                    <li class="ui blue basic button"><a href="#">&hellip;</a></li>
                {% endif %}
            {% endfor %}
            {% if not pagination.has_next %}{% endif %}
            <a class="ui green icon button"
               {% if pagination.has_next %}href="
                   {{ url_for(endpoint, page=pagination.next_num, **kwargs) }}"{% else %}{% endif %}>
                <i class="angle double right icon"></i>下一页
            </a>
        </ul>
    </div>
{% endmacro %}